body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* evita rolagem */
  font-family: "Montserrat", sans-serif;
  background-color: #000;
}

#container3D canvas {
  width: 100%;
  height: 100%;
  position: fixed; /* ocupa a tela inteira */
  top: 0;
  left: 0;
  z-index: 0; /* canvas fica no fundo */
  display: block;
}

header {
  position: relative;
  z-index: 1; /* fica acima do canvas */
  margin-top: 3em;
  text-align: center;
  color: white;
}

header h1 {
  font-size: 2em;
  font-weight: 900;
}
